
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <form class="todo-form" ng-submit="addTodo()">
                <input class="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
            </form>
        </header>
        <section class="main" ng-show="todoList.todos.length" ng-cloak>
            <input class="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <li ng-repeat="todo in todoList.todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                        <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy" ng-click="removeTodo(todo)"></button>
                    </div>
                    <form ng-submit="saveEdits(todo, 'submit')">
                        <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')"
                               todo-focus="todo == editedTodo">
                    </form>
                </li>
            </ul>
        </section>
        <footer class="footer" ng-show="todoList.todos.length" ng-cloak>
            <span class="todo-count">
                <strong>{{remainingCount}}</strong>
                <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
            </span>
            <ul class="filters">
                <li>
                    <a ng-class="{selected: status == ''} " ui-sref="todoLists.todos({id:todoList.id, status: null})" >All</a>
                </li>
                <li>
                    <a ng-class="{selected: status == 'active'}" ui-sref="todoLists.todos({id:todoList.id, status: 'active'})" >Active</a>
                </li>
                <li>
                    <a ng-class="{selected: status == 'completed'}" ui-sref="todoLists.todos({id:todoList.id, status: 'completed'})">Completed</a>
                </li>
            </ul>
            <button class="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
        </footer>
    </section>