
<!--<div class="current-title" ng-controller="TitleMirrorCtrl">
    <label> {{mirror}} </label>
</div>-->
<!--<div class="current-title" ng-controller="TitleMirrorCtrl">
    <label ng-bind="mirror"></label>
</div>
<div class="current-title" ng-controller="TitleMirrorCtrl">
    <label ng-model="mirror"></label>
    <input ng-model="mirror">
</div>-->



<!--<div class="current-title" >
    <title-mirror></title-mirror>
</div>-->

<div class="current-title">
    <label title-mirror></label>
</div>


 





<section class="todoapp">
    <header class="header">
        <h1>works 1</h1>
        <form class="todo-form" ng-submit="addWork()">
            <input class="new-todo" placeholder="What needs to be done?" ng-model="newWork" ng-disabled="saving" autofocus>
        </form>
    </header>
    <section class="main" ng-show="workList.works.length" ng-cloak>

        <input class="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">

        <label for="toggle-all">Mark all as complete</label>

        <ul class="todo-list">

            <li ng-repeat="work in workList.works | filter:statusFilter track by $index" ng-class="{completed: work.completed, editing: work == editedWork}">

                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="work.completed" ng-change="toggleCompleted(work)">
                    <label ng-dblclick="editWork(work)">{{work.title}}</label>
                    <button class="destroy" ng-click="removeWork(work)"></button>
                </div>

                <form ng-submit="saveEdits(work, 'submit')">
                    <input class="edit" ng-trim="false" ng-model="work.title" todo-escape="revertEdits(work)" ng-blur="saveEdits(work, 'blur')"
                           work-focus="work == editedWork">
                </form>
            </li>
        </ul>
    </section>
    <footer class="footer" ng-show="workList.works.length" ng-cloak>
        <span class="todo-count">
            <strong>{{remainingCount}}</strong>
            <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
        </span>
        <ul class="filters">
            <li>
                <a ng-class="{selected: status == ''} " ui-sref="workLists.works({id:workList.id, status: null})">All</a>
            </li>
            <li>
                <a ng-class="{selected: status == 'active'}" ui-sref="workLists.works({id:workList.id, status: 'active'})">Active</a>
            </li>
            <li>
                <a ng-class="{selected: status == 'completed'}" ui-sref="workLists.works({id:workList.id, status: 'completed'})">Completed</a>
            </li>
        </ul>
        <button class="clear-completed" ng-click="clearCompletedWorks()" ng-show="completedCount">Clear completed</button>
    </footer>
</section>






<!--angular.module('docsSimpleDirective', [])
.controller('Controller', ['$scope', function($scope) {
  $scope.customer = {
    name: 'Naomi',
    address: '1600 Amphitheatre'
  };
}])
.directive('myCustomer', function() {
  return {
    template: 'Name: {{customer.name}} Address: {{customer.address}}'
  };
});-->