.DS_Store
node_modules
*.dll
*.xml
/Todo/packages
/Todo/Todo.App/obj/Debug
/Todo/packages
/Todo/packages
*.exe
/Todo/Todo.App/bin/Debug/Todo.App.exe.config
*.pdb
/Todo/Todo.DAL/bin/Debug
/Todo/Todo.App/bin
/Todo/Todo.DAL/obj/Debug
/Todo/Todo.Models/obj/Debug
/Todo/Todo.App/bin/Debug/Todo.DAL.dll.config
/Todo/Todo.App/bin/Debug/Todo.App.vshost.exe.manifest
/Todo/Todo.App/bin/Debug/Todo.App.vshost.exe.config
/Todo/Todo.App/obj/Release
/Todo/Todo.DAL/bin/Release
/Todo/Todo.DAL/obj/Release
/Todo/Todo.Models/obj/Release
/Todo/Todo.BLL/obj/Debug
/Todo/Todo.BLL/bin/Debug
packages
